body{
  background-color: antiquewhite;

}
h1{
  color: indianred;
  font-family: fantasy;
  text-align: center;
  font-size: 40px;
}

h3{
  color:black;
  font-style:normal;
}
h2{
  color: darkslategrey;
  font-style: oblique;
  font-weight: bold;
}

p{
  font-size: 20px;
  font-family:inherit;
  font-style: italic;
}

img{
  float: left;
  height: 120px;
  width: 120px;
}

.top-img {
  height: 100px;
  width: 100px;
}

  



