.images{
    display: flex;
    justify-content: space-around;
}

.images1{
    padding: 30px;
}

.images2{
    padding: 30px;
}

.images3{
    padding: 30px;
}

.images-container{
    background-color: black;
    height: 390px;
    width: 560px;
    /*border: 10px solid black;*/
    position: relative;  /*let the second pic go to the container*/
}

.images-container img{
    width: 100%;
    height: 100%;
}

.content{
    color: rgb(31, 24, 24);
    text-align: center;
    position: absolute;
    top: 100%;
    width: 100%;
    font-size: 20px;
    }


.navbar{
    justify-self: right;
    align-items:right;
    height: auto;
    width: auto;
    display: flex;
  }
  
 nav{
    text-align: right;
    flex: 1;
  }
  
  nav ul li{
    list-style: none;
    display:inline-block;
    margin-left: 60px;
    font-family:initial;
    position: relative;
  }
  
  nav ul li a{
    text-decoration: none;
    color:black;
    font-size:16px ;
  }
  
  nav ul li ::after{
    content: "";
    height: 3px;
    width: 0%;
    background: #d8e2e1;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  nav ul li :hover::after{
    width: 100%;
  }



/*.images{
    display: flex;
    justify-content: space-around;
}

.images-container{
    background-color: black;
    height: 400px;
    width: 550px;
    /*border: 10px solid black;*/
    /*position: relative;  /*let the second pic go to the container
}

.images-container img{
    width: 100%;
    height: 100%;
}


.fade::after{  injecting sth addition contents
    content: "Dimsum";
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:large;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
} 


.fade:hover::after{
    opacity: 0.5;
}

*/



